@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Zen+Loop&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

// reset end

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: lightcoral;
}

// general start

.container {
  position: relative;

  width: 100%;
  min-height: 50vh;
  padding: 2rem 5% 1rem;
}

.t-center {
  text-align: center;
}

.f-family-zen {
  font-family: 'Zen Loop', cursive;
}

.CCComic {
  background-color: rgb(179, 91, 91);
  color: #fffffe;
}

.CCMagazine {
  background-color: rgb(216, 214, 110);
}

.CCStudio {
  background-color: rgb(146, 230, 153);
}

.CCCosmos {
  background-color: rgb(75, 75, 75);
  color: #fffffe;
}

.TheFoxes {
  background-color: rgb(190, 73, 219);
  color: #fffffe;
}

.back-to-top {
  position: absolute;
  right: calc(1rem + 36px);
  bottom: 1rem;
}

// general end

.nav {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 99;
  transform: translateY(-50%);
}

.nav li {
  display: block;

  width: 36px;
  height: 36px;
}

.nav a {
  display: block;

  width: 100%;
  height: 100%;
}

.landing {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)),
  url('../images/pexels-atypeek-dgn-7532578.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.landing-title {
  margin-bottom: 1rem;
  font-size: 60px;
}

.landing-title,
.landing-sub-title {
  padding: 0 10%;
}

.landing-text {
  width: 80%;
  margin: 1rem auto 2rem;

  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.25;
}

.section-title {
  padding-bottom: 1rem;
  font-size: 48px;
}

.job-list-item {
  padding-bottom: 1rem;
}

.job-title {
  padding: 1rem 0;
  font-size: 24px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: #fffffe;
}

.footer-title {
  font-size: 24px;
}

.footer-logo {
  position: relative;

  margin: 1rem auto 2rem;
  width: 400px;
  height: 260px;

  text-align: center;
  line-height: 260px;
  font-size: 56px;

  opacity: 1;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-image: url('../images/pexels-gabriele-brancati-7017325.jpg');
    background-size: cover;
    background-position: 50% 40%;
    opacity: 0.5;
    transition: .2s ease-out;
  }

  &:hover::after {
    opacity: 1;
  }
}

.footer-copyright {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .landing-title,
  .landing-sub-title {
    padding: unset;
    text-align: center;
  }

  .landing-text {
    width: clamp(23ch, 50%, 46ch);

    font-size: 1rem;
    line-height: 1.5;
  }
}