:root {
  --primary: #f0903a;
  --light-accent: #efc598;
  --dark-accent: #e59671;

  --light: #f7fafa;
  --dark: #465851;

  --default: #999999;
  --info: #323936;
  --success: #7da649;
  --warning: #eea236;
  --danger: #F44336;
}